* {
    box-sizing: border-box;
}

header {
    font-family: 'Permanent Marker', cursive;
    margin: 0px auto;
    /*text-align: center;*/
}

h1 {
    margin-bottom: 10px;
    color: dimgray;
}

.container {
    width: 600px;
    height: 600px;
    margin: 0px auto;
}

.large-box {
    display: inline-block;
    border: 2px solid gray;
    border-radius: 1%;
    width: 100%;
    height: 90%;
    padding: 10px;
}

.question-area {
    border: 2px solid gray;
    border-radius: 1%;
    width: 95%;
    height: 60%;
    margin: 10px auto;
    padding: 10px;
}

.small-box {
    border: 2px solid gray;
    border-radius: 1%;
    width: 45%;
    height: 22%;
    margin: 2.5%;
    padding: 10px;
    float: left;
}

.small-box p {
    margin: 10px 0px;
}

.score-area {

}

.answer-area {

}

.js-right-or-wrong { /*class or id?*/
    text-decoration: underline;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
}

/*.question-area p {
    font-size: 32px;
    text-align: center;
}*/

.initial-text {
    font-size: 32px;
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    width: 20%;
    padding: 10px;
    margin: 0px 2.5%;
}

.btn-left {
    float: right;
}

/*.btn-center {
    margin-right: 17.5%;
    margin-left: 17.5%;
}*/

.btn-right {
    float: right;
}

